bounties/n8n-claude-workflow/Weekly_Dev_Summary.json
{
  "name": "Weekly Dev Summary - Claude AI",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 17 * * 5"}]
        }
      },
      "id": "cron-trigger",
      "name": "Weekly Cron (Friday 5PM)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.repo_url }}/commits?since={{ $json.since }}&until={{ $json.until }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Accept", "value": "application/vnd.github+json"},
            {"name": "Authorization", "value": "=Bearer {{ $json.github_token }}"}
          ]
        },
        "options": {}
      },
      "id": "github-commits",
      "name": "Fetch Commits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.repo_url }}/issues?state=closed&since={{ $json.since }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Accept", "value": "application/vnd.github+json"},
            {"name": "Authorization", "value": "=Bearer {{ $json.github_token }}"}
          ]
        },
        "options": {}
      },
      "id": "github-issues",
      "name": "Fetch Closed Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.repo_url }}/pulls?state=closed&sort=updated&direction=desc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Accept", "value": "application/vnd.github+json"},
            {"name": "Authorization", "value": "=Bearer {{ $json.github_token }}"}
          ]
        },
        "options": {}
      },
      "id": "github-prs",
      "name": "Fetch Merged PRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 600]
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Claude API\nconst commits = $input.all()[0].json;\nconst issues = $input.all()[1].json;\nconst prs = $input.all()[2].json;\nconst config = $('Weekly Cron (Friday 5PM)').item.json;\n\n// Format commits\nconst commitList = Array.isArray(commits) ? commits.slice(0, 20).map(c => \n  `- ${c.commit?.message?.split('\\\\n')[0] || 'N/A'} (${c.commit?.author?.name || 'unknown'})`\n).join('\\\\n') : 'No commits';\n\n// Format issues\nconst issueList = Array.isArray(issues) ? issues.filter(i => !i.pull_request).slice(0, 10).map(i =>\n  `- #${i.number} ${i.title} [${i.state}]`\n).join('\\\\n') : 'No issues';\n\n// Format PRs  \nconst prList = Array.isArray(prs) ? prs.filter(p => p.merged_at).slice(0, 10).map(p =>\n  `- #${p.number} ${p.title} by ${p.user?.login} [merged]`\n).join('\\\\n') : 'No PRs';\n\nconst prompt = `You are a technical project manager writing a weekly development summary for ${config.repo_name}.\\\\n\\\\n## Weekly Activity Report\\\\n\\\\n### Commits This Week\\\\n${commitList}\\\\n\\\\n### Closed Issues\\\\n${issueList}\\\\n\\\\n### Merged PRs\\\\n${prList}\\\\n\\\\nPlease generate a concise, professional weekly summary in ${config.language || 'English'}. Include:\\\\n1. Key accomplishments this week\\\\n2. Notable changes and their impact\\\\n3. Areas that need attention\\\\n4. Recommendations for next week\\\\n\\\\nKeep it under 500 words. Use emoji sparingly.`;\n\nreturn { prompt, config };\n"
      },
      "id": "format-data",
      "name": "Format Weekly Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "x-api-key", "value": "={{ $json.config.claude_api_key }}"},
            {"name": "anthropic-version", "value": "2023-06-01"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "model", "value": "claude-sonnet-4-20250514"},
            {"name": "max_tokens", "value": 1024},
            {"name": "messages[0].role", "value": "user"},
            {"name": "messages[0].content", "value": "={{ $json.prompt }}"}
          ]
        },
        "options": {}
      },
      "id": "claude-api",
      "name": "Claude API - Generate Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.config.from_email }}",
        "toEmail": "={{ $json.config.to_email }}",
        "subject": "=Weekly Dev Summary: {{ $json.config.repo_name }} - {{ $now.format('YYYY-MM-DD') }}",
        "text": "={{ $json.content[0].text }}",
        "options": {}
      },
      "id": "email-delivery",
      "name": "Send Email Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.config.webhook_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "text", "value": "=📊 *Weekly Dev Summary: {{ $json.config.repo_name }}*\\\\n{{ $json.content[0].text }}"}
          ]
        },
        "options": {}
      },
      "id": "slack-webhook",
      "name": "Slack/Discord Webhook (Alternative)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 550]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {"name": "repo_name", "value": "owner/repo"},
            {"name": "repo_url", "value": "https://api.github.com/repos/owner/repo"},
            {"name": "github_token", "value": "ghp_xxxxxxxxxxxx"},
            {"name": "claude_api_key", "value": "sk-ant-xxxxxxxxxxxx"},
            {"name": "from_email", "value": "sender@gmail.com"},
            {"name": "to_email", "value": "team@company.com"},
            {"name": "webhook_url", "value": "https://hooks.slack.com/services/xxx"},
            {"name": "language", "value": "English"},
            {"name": "since", "value": "={{ $now.minus(7, 'days').format('YYYY-MM-DD') }}"},
            {"name": "until", "value": "={{ $now.format('YYYY-MM-DD') }}"}
          ]
        },
        "options": {}
      },
      "id": "config-node",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [50, 300]
    }
  ],
  "connections": {
    "Configuration": {
      "main": [[{"node": "Weekly Cron (Friday 5PM)", "type": "main", "index": 0}]]
    },
    "Weekly Cron (Friday 5PM)": {
      "main": [
        [{"node": "Fetch Commits", "type": "main", "index": 0}],
        [{"node": "Fetch Closed Issues", "type": "main", "index": 0}],
        [{"node": "Fetch Merged PRs", "type": "main", "index": 0}]
      ]
    },
    "Format Weekly Data": {
      "main": [[{"node": "Claude API - Generate Summary", "type": "main", "index": 0}]]
    },
    "Claude API - Generate Summary": {
      "main": [
        [{"node": "Send Email Report", "type": "main", "index": 0}],
        [{"node": "Slack/Discord Webhook (Alternative)", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1.0.0",
  "staticData": null
}
